*.pyc
LocalEnv.py
.DS_Store
scripts/LabTestAnalysis/output*
scripts/LabTestAnalysis/machine_learning/data*
starr/data*
stride/data*
scripts/LabCulturePrediction/data*
scripts/ER_Infection/data*
.idea*
venv*
*token.pickle
.Rproj.user
