*.pyc
LocalEnv.py
.DS_Store
scripts/LabTestAnalysis/output*
scripts/LabTestAnalysis/machine_learning/data*
starr/data*
stride/data*
scripts/LabCulturePrediction/data*
scripts/LabCulturePrediction/*.tab
scripts/LabCulturePrediction/DecisionMakingClass/*.csv
scripts/ER_Infection/data*
scripts/ER_Infection/notebooks/mit_data_analysis/data*
.idea*
venv*
*token.pickle
.Rproj.user
*pyproject.toml
scripts/cost_variability_2024/tables/*
scripts/cost_variability_2024/scripts/baseline_inpatientmortality_artifacts/*

