# Virtual environment
inbasket_colbert_env/
inbasket_env/
venv/
.env

# Python cache
__pycache__/
*.pyc

# Results and outputs
src/DSPy_results_*/
src/data/*
src/analysis/*

# Jupyter
src/notebook/.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db

# Logs
*.log
*.zip
*.json
*.jsonl

optimized_classifiers_*/
