blinker==1.9.0
click==8.1.8
ecos==2.0.14
Flask==3.1.0
importlib_metadata==8.6.1
itsdangerous==2.2.0
Jinja2==3.1.5
joblib==1.4.2
MarkupSafe==3.0.2
numexpr==2.10.2
numpy==2.0.2
osqp==0.6.7.post3
packaging==24.2
pandas==2.2.3
plotly==5.24.1
python-dateutil==2.9.0.post0
pytz==2024.2
qdldl==0.1.7.post5
scikit-learn==1.5.2
scikit-survival==0.23.1
scipy==1.13.1
six==1.17.0
tenacity==9.0.0
threadpoolctl==3.5.0
tzdata==2025.1
Werkzeug==3.1.3
zipp==3.21.0
