BODY, TD, P, TH
{
  font-family: Arial,Verdana,Helvetica,sans-serif;
  font-size: 12pt;
}

H2
{
   font-size:  14pt;
   font-style: italic;
}

PRE
{
   font-family: Lucida Console,monospace;
   font-size: 12pt;
}

A
{
   text-decoration:  none;
}

A:hover
{
   text-decoration:  underline;
}

input
{
	/*border: solid black 1px;*/
    font-family: Arial, Verdana, Helvetica, sans-serif; 
    font-size: 10pt;
}

textarea
{
	/*border: solid black 1px;*/
    font-family: Arial, Verdana, Helvetica, sans-serif; 
    font-size: 10pt;
}

.fixedwidth
{
   font-family: Lucida Console,monospace;
}

select
{
	/*border: solid black 1px;*/
    font-family: Arial, Verdana, Helvetica, sans-serif; 
    font-size: 10pt;
}

hr
{
   border: solid black 1px;
}

.spacer
{
}

.siteTitle
{
   color:      #4060b0;
   font-size:  20pt;
   font-weight:bold;
   font-style: italic;
   text-align: center;
}

.featureTitle
{
   font-size:  14pt;
   font-style: italic;
}

.featureContent
{
   font-size:  12pt;
}

.question
{
   font-weight:   bold;
   font-style:    italic;
}

.numberField
{
	text-align:	right;
}

.readonly
{
	border-width: 0px;
	background-color: transparent;
}

.subtleLink
{
	color:	black;
}

.errorMsg
{
	color:	#ff0000;
	font-weight: bold;
}

.successMsg
{
	color:	#00c000;
	font-weight: bold;
}

.feedbackBox
{
    font-size: 12pt;
    font-style: italic;
    border: solid black 0px;
}

.smallText
{
  font-family: Arial,Verdana,Helvetica,sans-serif;
  font-size: 10pt;
}

.completionCode
{
	font-size: 16pt;
	font-weight: bold;
	color:	#000080;
}