BODY, TD, P, TH, PRE
{
   color: #000000;
}

a
{
   color: #0000ff;
}

a.breadcrumb
{
   color:   #ffffff;
}

.navLinks
{
   color:            #00000;
   background-color: #c0c0c0; 
   font-weight:      bold;
}


.text
{
   color: #000000;
   font-weight: normal;
}

.content
{
   color: #000000;
   background-color: #ffffff;
}

.labelCell
{
   color: #000000;
   background-color: #c0c0c0; 
   font-weight:      bold;
}

.subheading
{
   color:            #ffffff;
   background-color: #808080;
   font-weight:      bold;
}

.heading
{
   color:            #ffffff;
   background-color: #808080;
   font-weight:      bold;
   font-style:       italic;
   font-size:        12pt;
}

.dataTable
{
   border: solid #000000 1px;
   color: #000000;
   background-color: #ffffff;
}

.line
{
   background-color: #000000;
   padding: 0px;
}

