cachetools==3.1.0
certifi==2018.11.29
chardet==3.0.4
futures==3.2.0
google-api-core==1.7.0
google-auth==1.6.2
google-auth-oauthlib==0.2.0
google-cloud-bigquery==1.8.1
google-cloud-core==0.29.1
google-resumable-media==0.3.2
googleapis-common-protos==1.5.6
idna==2.8
numpy==1.16.1
oauthlib==3.0.1
pandas==0.24.0
pandas-gbq==0.9.0
protobuf==3.18.3
pyarrow==0.12.1
pyasn1==0.4.5
pyasn1-modules==0.2.4
pydata-google-auth==0.1.1
python-dateutil==2.7.5
pytz==2018.9
requests==2.21.0
requests-oauthlib==1.2.0
rsa==4.7
six==1.12.0
urllib3==1.26.5
