BODY, TD, P, TH
{
  font-family: Arial,Verdana,Helvetica,sans-serif;
  font-size: 10pt;
}

A
{
	color: blue;	/* Fixed color so won't change with controller clicks */
   	text-decoration:  none;
}

A:hover
{
   text-decoration:  underline;
}

.label
{
  font-size: 14pt;
}


PRE
{
   font-family: Lucida Console,monospace;
   font-size: 10pt;
}

input
{
    /*border: solid black 1px;*/
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 10pt;
}

textarea
{
    /*border: solid black 1px;*/
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 10pt;
}

select
{
    /*border: solid black 1px;*/
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 10pt;
}

.sensitivityCellPositive
{
	background-color:	#00ff00;
}
.sensitivityCellModerate
{
	background-color:	#ffff00;
}
.sensitivityCellNegative
{
	background-color:	#ff0000;
}

.headerRow
{
  	font-size: 12pt;
  	background-color:	#c0c0c0;
}
.headerCol
{
  	font-size: 12pt;
  	background-color:	#e0e0e0;
}

.instructionCell
{
	background-color:	#c0c0c0;
}


.iconButton
{
	font-size: 16pt;
}

.rotateText
{
float: left; 
position: relative;
-moz-transform: rotate(270deg);  /* FF3.5+ */        
-o-transform: rotate(270deg);  /* Opera 10.5 */   
-webkit-transform: rotate(270deg);  /* Saf3.1+, Chrome */              
filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=3);  /* IE6,IE7 */          
-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3); /* IE8 */           
}
