langchain==0.3.19
langchain-huggingface==0.1.2
scikit-learn==1.6.1
python-docx==1.1.2
numpy==1.26.4
pydantic==2.10.6
fastapi==0.115.11
uvicorn==0.34.0
accelerate==1.6.0
huggingface_hub==0.29.1
hf_xet==1.0.3
